@layer components {

  /* Espaciado estándar entre items */
  .form-item {
    @apply mb-4;
  }

  /* Control base */
  .form-control {
    @apply border border-base-300 bg-base-100 shadow-none px-3 py-1 text-sm leading-[1.5em] inline-block w-full;
    border-start-start-radius: var(--join-ss, var(--radius-field));
    border-start-end-radius: var(--join-se, var(--radius-field));
    border-end-start-radius: var(--join-es, var(--radius-field));
    border-end-end-radius: var(--join-ee, var(--radius-field));
    /* border-color: var(--input-color); */
    height: var(--size);
    --size: calc(var(--size-field, 0.25rem) * 10);

    /* Hover */
    @apply hover:border-neutral;

    /* Active y Focus */
    @apply focus:border-neutral focus:outline-none focus:ring-1 focus:ring-neutral;

    /* Placeholder */
    &::placeholder {
      @apply text-base-content/50;
    }

    /* Disabled */
    &.disabled,
    &:disabled {
      @apply border-base-200 bg-base-200 text-base-content/40 placeholder-base-content/20 cursor-not-allowed;
    }

    &[type="number"] {
      &::-webkit-inner-spin-button {
        @apply -my-3 -me-3;
      }
    }
  }

  /* Tamaños */
  .form-control-xs {
    --size: calc(var(--size-field, 0.25rem) * 6);
  }

  .form-control-sm {
    --size: calc(var(--size-field, 0.25rem) * 8);
  }

  .form-control-md {
    --size: calc(var(--size-field, 0.25rem) * 10);
  }

  .form-control-lg {
    --size: calc(var(--size-field, 0.25rem) * 12);
  }

  .form-control-xl {
    --size: calc(var(--size-field, 0.25rem) * 14);
  }

  /* Form horizontal (en pantallas medianas) */
  /* @screen md {
  .form.horizontal .form-item {
    @apply flex items-center;
  }
  .form.horizontal .form-left,
  .form.horizontal .form-label {
    @apply w-2/5 text-right p-0;
  }
  .form.horizontal .form-label::after {
    content: ":";
    @apply relative -top-[0.5px] mx-2;
  }
  .form.horizontal .form-right,
  .form.horizontal .form-input {
    @apply w-3/5;
  }
} */

  /* Campo requerido */
  .form-item.required .form-label::after {
    content: "*";
    @apply inline-block ml-1 text-red-600 text-sm leading-none;
  }

  /* Texto de ayuda */
  .form-help {
    @apply text-zinc-500 text-xs mt-1;
  }

  /* Estado de error */
  .form-item.has-danger .form-control {
    @apply border-red-600 focus:ring-1 focus:ring-red-600;
  }

  .form-item.has-danger .form-label,
  .form-item.has-danger .form-help {
    @apply text-red-600;
  }

  /* Estado de éxito */
  .form-item.has-success .form-control {
    @apply border-success focus:ring-1 focus:ring-success;
  }

  .form-item.has-success .form-label,
  .form-item.has-success .form-help {
    @apply text-success;
  }

  /* Variante inner label */
  .form-item.inner {
    @apply relative;
  }

  .form-item.inner .form-label {
    @apply absolute z-[1] top-[3px] left-[11px] text-[0.7rem] pointer-events-none;
  }

  .form-item.inner .form-control {
    @apply pt-[14px] pb-0;
  }

  .form-item.inner .form-control-sm {
    @apply h-[calc(theme(height.6)+2px+14px)];
  }

  .form-item.inner .form-control-lg {
    @apply h-[calc(theme(height.10)+2px+14px)];
  }

  .form-item.inner .control-prefix,
  .form-item.inner .control-suffix {
    @apply mt-[calc(14px/3)];
  }

  .form-item.inner .btn {
    @apply h-full aspect-auto min-w-8;
  }

  /* Variante outlined */
  .form-item.outlined {
    @apply relative;
  }

  .form-item.outlined .form-label {
    @apply px-2 ml-2 absolute z-[1] left-0 top-1/2 -translate-y-1/2 transition-all duration-100 ease-out pointer-events-none text-zinc-400 bg-white;
  }

  .form-item.outlined .form-control:focus+.form-label,
  .form-item.outlined .form-control:not(:placeholder-shown)+.form-label {
    @apply top-0 -translate-y-1/2 scale-90 text-primary;
  }

  /* Etiquetas */
  .form-label {
    @apply block m-0 pb-2 leading-[1.5];
  }

  /* Textarea */
  textarea.form-control {
    @apply text-inherit h-auto;
  }

  /* Select */
  select.form-control {
    @apply px-1;
  }
}