@layer components {
  .freeze-wrapper {
    @apply fixed inset-0 w-full h-full z-[999999999] bg-base-100 opacity-40 transition-opacity duration-200 cursor-wait;
    @apply flex flex-col items-center justify-center;
  }

  .freeze-wrapper.is-unfreezing {
    @apply opacity-0;
  }

  .freeze-wrapper::after {
    content: attr(data-text);
    @apply block;
  }

  .freeze-wrapper::before {
    content: "";
    @apply block w-5 h-5 rounded-full border-2 border-transparent border-t-neutral border-r-neutral border-b-neutral;
    animation: spin 0.75s infinite ease-in-out;
  }

  @keyframes spin {
    0% {
      transform: translateZ(0) rotate(0deg);
    }

    100% {
      transform: translateZ(0) rotate(360deg);
    }
  }
}
