@layer components {

  /* Contenedor general de la tabla */
  .table-wrapper {
    @apply overflow-auto border border-base-300 bg-base-100 rounded-md;
  }

  /* Tabla base */
  .table {
    @apply w-full border-separate;
    border-spacing: 0;

    td,
    th {
      @apply border-t border-base-300 p-1 leading-4;
    }

    tr {
      &.disabled {
        opacity: 0.5;
        pointer-events: none;
      }

      &.deleted {
        text-decoration: line-through;
      }
    }

    tr:hover {
      @apply bg-base-content/10;
    }

    thead {
      th {
        @apply sticky top-0 bg-zinc-100 dark:bg-zinc-800 z-[1];

        .form-control {
          @apply pl-1 pr-1;
        }
      }

      tr:first-child {
        th {
          border-top: 0;
        }
      }

      tr:last-child {
        th {
          @apply border-b border-base-300;
        }
      }
    }

    tbody {
      tr:first-child {
        td {
          border-top: 0;
        }
      }
    }

    tfoot {
      td {
        @apply sticky bottom-0 bg-zinc-100 dark:bg-zinc-800 z-[1] font-bold;
      }
    }
  }

  /* DataGrid - estructura */
  .datagrid {
    @apply flex flex-col h-full;
  }

  .datagrid-table {
    @apply flex-1 h-0 min-h-0 overflow-auto;
  }

  .datagrid-filter {
    @apply p-2;

    .datagrid-filter-list {
      @apply max-h-[250px] overflow-auto;

      li {
        @apply py-[0.15rem];
      }
    }

    .datagrid-filter-footer {
      @apply flex mt-2;
    }
  }
}