@use '../variables.scss' as var;

@mixin alert {
  .alert {
    margin: 0;
    color: rgba(0, 0, 0, 0.65);
    line-height: 1.5;
    list-style: none;
    position: relative;
    padding: 8px 15px;
    border-radius: var.$border-radius-alert;

    // [class*='icon-'] {
    //     // margin-right: 8px;
    //     // position: relative;
    //     top: 3px;
    // }

    display: flex;
    align-items: center;

    &-icon {
      margin-right: 14px;
      font-size: 20px;
    }

    &-close {
      position: absolute;
      width: 2rem;
      height: 2rem;
      top: 10px;
      right: 0;
      cursor: pointer;

      // center
      display: flex;
      align-items: center;
      justify-content: center;

      [class*="icon-"] {
        margin: 0;
      }
    }

    &.success {
      background: color-mix(in srgb, var(--success) 20%, transparent);
      color: color-mix(in srgb, var(--success) 50%, var(--text-color1));
    }

    &.info {
      background: color-mix(in srgb, var(--primary) 20%, transparent);
      color: color-mix(in srgb, var(--primary) 50%, var(--text-color1));
    }

    &.warning {
      background: color-mix(in srgb, var(--warning) 20%, transparent);
      color: color-mix(in srgb, var(--warning) 50%, var(--text-color1));
    }

    &.danger {
      background: color-mix(in srgb, var(--danger) 20%, transparent);
      color: color-mix(in srgb, var(--danger) 50%, var(--text-color1));
    }
  }
}
