@use '../variables.scss' as var;

@mixin card {
  .card {
    display: flex;
    flex-direction: column;
    background: var(--panel-bg2);
    border: 1px solid var(--border-color);
    color: var(--text-color1);

    &.hoverable {
      &:hover {
        box-shadow: 0 0.5rem 1rem -0.5rem var(--border-color);
      }
    }

    &-header {
      padding: 16px 24px;
      color: var(--text-color1);
      box-shadow: 0 1px var(--border-color);
    }

    &-cover {}

    &-title {
      font-size: 1rem;
    }

    &-title,
    &-description {
      margin-top: 0;
      margin-bottom: 0.6rem;
    }

    &-body {
      padding: 1rem;
    }
  }
}
