@use '../variables.scss' as var;

@mixin control_group($otherClass: '') {
  .control-group {
    display: flex;

    &-prepend {
      display: flex;

      .btn {
        border-radius: 0;

        &:first-child {
          border-top-left-radius: var.$border-radius-base;
          border-bottom-left-radius: var.$border-radius-base;
        }
      }
    }

    &-input {
      flex: 1 1 auto;

      &:not(:first-child) {
        .form-control {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }

        @if $otherClass !='' {
          #{$otherClass} {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
          }
        }
      }

      &:not(:last-child) {
        .form-control {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }

        @if $otherClass !='' {
          #{$otherClass} {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
          }
        }
      }
    }

    &-append {
      display: flex;

      .btn {
        border-radius: 0;

        &:last-child {
          border-top-right-radius: var.$border-radius-base;
          border-bottom-right-radius: var.$border-radius-base;
        }
      }
    }
  }
}
