@use '../variables.scss' as var;

@mixin divider() {
  .divider {
    margin-top: 16px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;

    &-innerText {
      display: inline-block;
      padding: 0 10px;
      font-weight: 500;
    }

    &::after,
    &::before {
      top: 0;
      position: relative;
      border-top: 1px solid var(--border-color);
      content: '';
      flex: 1 1 auto;
    }

    &.text-left {
      &::before {
        width: 5%;
        flex: inherit;
      }
    }

    &.text-right {
      &::after {
        width: 5%;
        flex: inherit;
      }
    }
  }
}
