@use '../variables.scss' as var;

@mixin tab {
  .tab {
    &-header {
      margin: 0 0 16px 0;
      border-bottom: 1px solid var(--border-color);
      display: flex;
      overflow-x: auto;
    }

    &-title {
      padding: 12px 12px;
      cursor: pointer;
      white-space: nowrap;

      &:last-child {
        margin: 0;
      }

      &:hover {
        color: var(--primary);
      }

      &.is-active {
        box-shadow: 0 -2px var(--primary) inset;
      }
    }
  }

  .tab-content {
    display: none;

    &.is-active {
      display: block;
    }
  }
}
