<nav
  class="SiteMenu-wrapper"
  itemscope
  itemtype="http://schema.org/SiteNavigationElement"
  role="navigation"
  id="SiteMenu-wrapper"
>
  <div class="SiteMenu-content">
    <ul class="SiteMenu dn-menu" id="SiteMenu">
      <li itemprop="url">
        <a
          href="/components/starter"
          target=""
          itemprop="name"
          title="Link to Documentación">Documentación</a>
      </li>
      <li itemprop="url">
        <a
          href="/examples"
          target=""
          itemprop="name"
          title="Link to Ejemplos">Ejemplos</a>
      </li>
    </ul>
    <div>
      <div class="dn-btn-group">
        <input
          class="hidden"
          id="snThemeLight"
          type="radio"
          name="snTheme"
          value="light"
        />
        <label class="dn-btn" for="snThemeLight">Light</label>
        <input
          class="hidden"
          id="snThemeDarck"
          type="radio"
          name="snTheme"
          value="dark"
        />
        <label class="dn-btn" for="snThemeDarck">Dark</label>
        <input
          class="hidden"
          id="snThemeSystem"
          type="radio"
          name="snTheme"
          value="system"
        />
        <label class="dn-btn" for="snThemeSystem">System</label>
      </div>
    </div>
  </div>
</nav>