@use '../../../../packages/dn-ui/src/main.scss' as pdui;

$asideMenuWidth: 220px;

.AsideMenu{
    @extend %list;
    &-header{
        font-weight: 500;
        padding: 8px 0;
        color: var(--dn-text-color2);
        font-size: .9em;
    }
    &-item{
        padding-left: 8px;
        position: relative;
        margin-bottom: 4px;
        a{
            display: block;
            padding: 8px 0 8px 8px;
            color: var(--dn-text-color1);
        }
        &:hover{
            background: var(--dn-hover-color);
            border-radius: 16px;
        }
        &.is-active{
            background: var(--dn-primary);
            border-radius: 16px;
            a {
                color: var(--dn-primary-c);
            }
        }
    }
    &-nav{
        overflow-y: auto;
        height: 100%;
        @include pdui.to(l){
            padding: .5rem;
        }
    }
    &-container{
        @include pdui.to(l){
            position: fixed;
            top: 0;
            left: -#{$asideMenuWidth};
            transition: left .4s;
            height: 100vh;
            background: var(--dn-panel-bg1);
            z-index: 100;
            width: $asideMenuWidth;
        }
    }
}

.AsideMenu-is-show{
    .AsideMenu-container{
        left: 0;
        box-shadow: 1px 0 40px rgba(black,.2);
    }
}

#AsideMenu-toggle{
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    height: 2rem;
    width: 1.5rem;
    background: var(--dn-panel-bg1);
    cursor: pointer;
    border: 1px solid var(--dn-border-color);
    border-left: var(--dn-panel-bg1);
    border-radius: 0 10px 10px 0;

    font-size: 1.4rem;
    @include pdui.from(l){
        display: none;
    }
}
