extends ../../config/template
append config
    -title = "Cards"
    -description = "Simple rectangular container."
    -ogUrl = "/documentation/card.html"
    -template = 2
block main
    .pd-grid.col-gap.row-gap.l-grid-2
        +codeBox(
            'Basic',
            'A basic card containing a title, content and an extra corner content.',
            '<div class="pd-card">\n    <div class="pd-card-header">Card header</div>\n    <div class="pd-card-body">\n        <h2 class="pd-card-title">Card title</h2>\n        <p class="pd-card-description">Card content ...</p>\n    </div>\n</div>'
        )
            .pd-card
                .pd-card-header Card header
                .pd-card-body
                    h2.pd-card-title Card title
                    p.pd-card-description Card content ...
        +codeBox(
            'Hoverable',
            'hover',
            '<div class="pd-card hoverable">\n    <div class="pd-card-header">Card header</div>\n    <div class="pd-card-body">\n        <h2 class="pd-card-title">Card title</h2>\n        <p class="pd-card-description">Card content ...</p>\n    </div>\n</div>'
        )
            .pd-card.hoverable
                .pd-card-header Card header
                .pd-card-body
                    h2.pd-card-title Card title
                    p.pd-card-description Card content ...
    h2 API
    .pd-table-wrapper
        table.pd-table.DocApiTable
            thead
                tr
                    th Property
                    th Class
            tbody
                tr
                    td Card
                    td
                        code .pd-card
                        code .hoverable
                tr
                    td Header
                    td
                        code .pd-card-header
                tr
                    td Body
                    td
                        code .pd-card-body
                tr
                    td Title
                    td
                        code .pd-card-title
                tr
                    td Description
                    td
                        code .pd-card-description
