extends ../../config/template
append config
    -title = "Forms"
    -description = "form is used to collect, validate, and submit the user input, usually contains various form items including checkbox, radio, input, select, and etc."
    -ogUrl = "/documentation/form.html"
    -template = 2
block main
    .pd-grid.col-gap.row-gap.l-grid-2
        +codeBox(
            'Login form',
            'Normal login form which can contain more elements.',
            '<form action="" method="post" class="pd-form">\n    <div class="pd-form-item required">\n        <label for="userName" class="pd-form-label">User Name</label>\n        <input type="text" id="userName" name="userName" required class="pd-form-control">\n    </div>\n    <div class="pd-form-item required">\n        <label for="password" class="pd-form-label">Password</label>\n        <div class="pd-control-wrapper">\n            <input type="password" id="password" name="password" required class="pd-form-control pd-control">\n            <div class="pd-control-suffix togglePassword">\n                <svg viewBox="64 64 896 896" focusable="false" class="" data-icon="eye-invisible" width="1em" height="1em" fill="currentColor" aria-hidden="true">\n                    <path d="M942.2 486.2Q889.47 375.11 816.7 305l-50.88 50.88C807.31 395.53 843.45 447.4 874.7 512 791.5 684.2 673.4 766 512 766q-72.67 0-133.87-22.38L323 798.75Q408 838 512 838q288.3 0 430.2-300.3a60.29 60.29 0 0 0 0-51.5zm-63.57-320.64L836 122.88a8 8 0 0 0-11.32 0L715.31 232.2Q624.86 186 512 186q-288.3 0-430.2 300.3a60.3 60.3 0 0 0 0 51.5q56.69 119.4 136.5 191.41L112.48 835a8 8 0 0 0 0 11.31L155.17 889a8 8 0 0 0 11.31 0l712.15-712.12a8 8 0 0 0 0-11.32zM149.3 512C232.6 339.8 350.7 258 512 258c54.54 0 104.13 9.36 149.12 28.39l-70.3 70.3a176 176 0 0 0-238.13 238.13l-83.42 83.42C223.1 637.49 183.3 582.28 149.3 512zm246.7 0a112.11 112.11 0 0 1 146.2-106.69L401.31 546.2A112 112 0 0 1 396 512z"></path>\n                    <path d="M508 624c-3.46 0-6.87-.16-10.25-.47l-52.82 52.82a176.09 176.09 0 0 0 227.42-227.42l-52.82 52.82c.31 3.38.47 6.79.47 10.25a111.94 111.94 0 0 1-112 112z"></path>\n                </svg>\n            </div>\n        </div>\n    </div>\n    <button type="submit" class="pd-btn block primary">Login</button>\n</form>'
        )
            form(action="" method="post").pd-form
                .pd-form-item.required
                    label(for="userName").pd-form-label User Name
                    input#userName(type="text" name="userName" required).pd-form-control
                .pd-form-item.required
                    label(for="password").pd-form-label Password
                    .pd-control-wrapper
                        input#password(type="password" name="password" required).pd-form-control.pd-control
                        .pd-control-suffix.togglePassword
                            <svg viewBox="64 64 896 896" focusable="false" class="" data-icon="eye-invisible" width="1em" height="1em" fill="currentColor" aria-hidden="true"><path d="M942.2 486.2Q889.47 375.11 816.7 305l-50.88 50.88C807.31 395.53 843.45 447.4 874.7 512 791.5 684.2 673.4 766 512 766q-72.67 0-133.87-22.38L323 798.75Q408 838 512 838q288.3 0 430.2-300.3a60.29 60.29 0 0 0 0-51.5zm-63.57-320.64L836 122.88a8 8 0 0 0-11.32 0L715.31 232.2Q624.86 186 512 186q-288.3 0-430.2 300.3a60.3 60.3 0 0 0 0 51.5q56.69 119.4 136.5 191.41L112.48 835a8 8 0 0 0 0 11.31L155.17 889a8 8 0 0 0 11.31 0l712.15-712.12a8 8 0 0 0 0-11.32zM149.3 512C232.6 339.8 350.7 258 512 258c54.54 0 104.13 9.36 149.12 28.39l-70.3 70.3a176 176 0 0 0-238.13 238.13l-83.42 83.42C223.1 637.49 183.3 582.28 149.3 512zm246.7 0a112.11 112.11 0 0 1 146.2-106.69L401.31 546.2A112 112 0 0 1 396 512z"></path><path d="M508 624c-3.46 0-6.87-.16-10.25-.47l-52.82 52.82a176.09 176.09 0 0 0 227.42-227.42l-52.82 52.82c.31 3.38.47 6.79.47 10.25a111.94 111.94 0 0 1-112 112z"></path></svg>
                .pd-btn.block.primary Login
        +codeBox(
            'Registration',
            'Fill in this form to create a new account for you.',
            '<form action="" method="post" class="pd-form horizontal">\n    <div class="pd-form-item required">\n        <label for="fullName" class="pd-form-label">Full Name</label>\n        <input type="text" id="fullName" name="fullName" placeholder="fullName" class="pd-form-control">\n    </div>\n    <div class="pd-form-item">\n        <label for="adress" class="pd-form-label">Address</label>\n        <input type="text" id="adress" name="adress" placeholder="address" class="pd-form-control">\n    </div>\n    <div class="pd-form-item">\n        <label for="gender" class="pd-form-label">Gender</label>\n        <select id="gender" name="gender" class="pd-form-control">\n            <option value="man">Man</option>\n            <option value="woman">Woman</option>\n        </select>\n    </div>\n    <div class="pd-form-item">\n        <label for="message" class="pd-form-label">Message</label>\n        <textarea id="message" name="message" cols="3" rows="5" class="pd-form-control"></textarea>\n    </div>\n</form>'
        )
            form(action="" method="post").pd-form.horizontal
                .pd-form-item.required
                    label(for="fullName").pd-form-label Full Name
                    input#fullName(type="text" name="fullName" placeholder="fullName").pd-form-control
                .pd-form-item
                    label(for="adress").pd-form-label Adress
                    input#adress(type="text" name="adress" placeholder="adress").pd-form-control
                .pd-form-item
                    label(for="gender").pd-form-label Gender
                    select#gender(name="gender").pd-form-control
                        option(value="man") Man
                        option(value="woman") Woman
                .pd-form-item
                    label(for="message").pd-form-label Message
                    textarea#message(name="message" cols="3" rows="5").pd-form-control
        +codeBox(
            'Help',
            'form validate.',
            '<form action="" method="post" class="pd-form">\n    <div class="pd-form-item required has-danger">\n        <label for="item1" class="pd-form-label">Item1</label>\n        <input type="text" id="item1" name="item1" class="pd-form-control">\n        <div class="pd-form-help">Help text</div>\n    </div>\n    <div class="pd-form-item has-success">\n        <label for="item2" class="pd-form-label">Item2</label>\n        <input type="text" id="item2" name="item2" class="pd-form-control">\n        <div class="pd-form-help">Help text</div>\n    </div>\n    <div class="pd-form-item">\n        <label for="item3" class="pd-form-label">Item3</label>\n        <select id="item3" name="item3" class="pd-form-control">\n            <option value="man">Man</option>\n            <option value="woman">Woman</option>\n        </select>\n        <div class="pd-form-help">Help text</div>\n    </div>\n    <div class="pd-form-item">\n        <label for="item4" class="pd-form-label">Item4</label>\n        <textarea id="item4" name="item4" cols="3" rows="5" class="pd-form-control"></textarea>\n        <div class="pd-form-help">Help text</div>\n    </div>\n</form>'
        )
            form(action="" method="post").pd-form
                .pd-form-item.required.has-danger
                    label(for="item1").pd-form-label Item1
                    input#item1(type="text" name="item1").pd-form-control
                    .pd-form-help Help text
                .pd-form-item.has-success
                    label(for="item2").pd-form-label Item2
                    input#item2(type="text" name="item2").pd-form-control
                    .pd-form-help Help text
                .pd-form-item
                    label(for="item3").pd-form-label Item3
                    select#item3(name="item3").pd-form-control
                        option(value="man") Man
                        option(value="woman") Woman
                    .pd-form-help Help text
                .pd-form-item
                    label(for="item4").pd-form-label Item4
                    textarea#item4(name="item4" cols="3" rows="5").pd-form-control
                    .pd-form-help Help text
        +codeBox(
            'Size',
            'Input sizes.',
            '<form action="" method="post" class="pd-form">\n    <div class="pd-form-item">\n        <label for="size1" class="pd-form-label">Size1</label>\n        <input type="text" id="size1" name="size1" class="pd-form-control sm">\n        <div class="pd-form-help">Help text</div>\n    </div>\n    <div class="pd-form-item">\n        <label for="size2" class="pd-form-label">Size2</label>\n        <input type="text" id="size2" name="size2" class="pd-form-control">\n        <div class="pd-form-help">Help text</div>\n    </div>\n    <div class="pd-form-item">\n        <label for="size3" class="pd-form-label">Size3</label>\n        <input type="text" id="size3" name="size3" class="pd-form-control lg">\n        <div class="pd-form-help">Help text</div>\n    </div>\n    <div class="pd-form-item">\n        <label for="size4" class="pd-form-label">Size4</label>\n        <select id="size4" name="size4" class="pd-form-control sm">\n            <option value="1" selected>Option 1</option>\n        </select>\n        <div class="pd-form-help">Help text</div>\n    </div>\n    <div class="pd-form-item">\n        <label for="size5" class="pd-form-label">Size5</label>\n        <select id="size5" name="size5" class="pd-form-control">\n            <option value="1" selected>Option 1</option>\n        </select>\n        <div class="pd-form-help">Help text</div>\n    </div>\n    <div class="pd-form-item">\n        <label for="size6" class="pd-form-label">Size6</label>\n        <select id="size6" name="size6" class="pd-form-control lg">\n            <option value="1" selected>Option 1</option>\n        </select>\n        <div class="pd-form-help">Help text</div>\n    </div>\n</form>'
        )
            form(action="" method="post").pd-form
                .pd-form-item
                    label(for="size1").pd-form-label Size1
                    input#size1(type="text" name="size1").pd-form-control.sm
                    .pd-form-help Help text
                .pd-form-item
                    label(for="size2").pd-form-label Size2
                    input#size2(type="text" name="size2").pd-form-control
                    .pd-form-help Help text
                .pd-form-item
                    label(for="size3").pd-form-label Size3
                    input#size3(type="text" name="size3").pd-form-control.lg
                    .pd-form-help Help text
                .pd-form-item
                    label(for="size4").pd-form-label Size4
                    select#size4(type="text" name="size4").pd-form-control.sm
                        option(value="1" select) Option 1
                    .pd-form-help Help text
                .pd-form-item
                    label(for="size5").pd-form-label Size5
                    select#size5(type="text" name="size5").pd-form-control
                        option(value="1" select) Option 1
                    .pd-form-help Help text
                .pd-form-item
                    label(for="size6").pd-form-label Size6
                    select#size6(type="text" name="size6").pd-form-control.lg
                        option(value="1" select) Option 1
                    .pd-form-help Help text
        +codeBox(
            'Inner',
            'Label inner.',
            '<form action="" method="post" class="pd-form">\n    <div class="pd-form-item inner">\n        <label for="innerSize1" class="pd-form-label">Size1</label>\n        <div class="pd-control-wrapper">\n            <i class="pd-control-prefix pd-icon.pd-icon-pin"></i>\n            <input type="text" id="innerSize1" class="pd-form-control pd-control sm">\n        </div>\n        <div class="pd-form-help">Help text</div>\n    </div>\n    <div class="pd-form-item inner">\n        <label for="innerSize2" class="pd-form-label">Size2</label>\n        <div class="pd-control-wrapper">\n            <i class="pd-control-prefix pd-icon.pd-icon-pin"></i>\n            <input type="text" id="innerSize2" class="pd-form-control pd-control">\n        </div>\n        <div class="pd-form-help">Help text</div>\n    </div>\n    <div class="pd-form-item inner">\n        <label for="innerSize3" class="pd-form-label">Size3</label>\n        <div class="pd-control-wrapper">\n            <i class="pd-control-prefix pd-icon.pd-icon-pin"></i>\n            <input type="text" id="innerSize3" class="pd-form-control pd-control lg">\n        </div>\n        <div class="pd-form-help">Help text</div>\n    </div>\n    <div class="pd-form-item inner">\n        <label for="innerSize4" class="pd-form-label">Size4</label>\n        <div class="pd-control-wrapper">\n            <i class="pd-control-prefix pd-icon.pd-icon-pin"></i>\n            <select id="innerSize4" class="pd-form-control pd-control sm">\n                <option value="1" selected>Option 1</option>\n            </select>\n        </div>\n        <div class="pd-form-help">Help text</div>\n    </div>\n    <div class="pd-form-item inner">\n        <label for="innerSize5" class="pd-form-label">Size5</label>\n        <div class="pd-control-wrapper">\n            <i class="pd-control-prefix pd-icon.pd-icon-pin"></i>\n            <select id="innerSize5" class="pd-form-control pd-control">\n                <option value="1" selected>Option 1</option>\n            </select>\n        </div>\n        <div class="pd-form-help">Help text</div>\n    </div>\n    <div class="pd-form-item inner">\n        <label for="innerSize6" class="pd-form-label">Size6</label>\n        <div class="pd-control-wrapper">\n            <i class="pd-control-prefix pd-icon.pd-icon-pin"></i>\n            <select id="innerSize6" class="pd-form-control pd-control lg">\n                <option value="1" selected>Option 1</option>\n            </select>\n        </div>\n        <div class="pd-form-help">Help text</div>\n    </div>\n</form>'
        )
            form(action="" method="post").pd-form
                .pd-form-item.inner
                    label(for="innerSize1").pd-form-label Size1
                    .pd-control-wrapper
                        i.pd-control-prefix
                          .pd-icon.pd-icon-pin
                        input(type="text" id="innerSize1").pd-form-control.pd-control.sm
                    .pd-form-help Help text
                .pd-form-item.inner
                    label(for="innerSize2").pd-form-label Size2
                    .pd-control-wrapper
                        i.pd-control-prefix
                          .pd-icon.pd-icon-pin
                        input(type="text" id="innerSize2").pd-form-control.pd-control
                    .pd-form-help Help text
                .pd-form-item.inner
                    label(for="innerSize3").pd-form-label Size3
                    .pd-control-wrapper
                        i.pd-control-prefix
                          .pd-icon.pd-icon-pin
                        input(type="text" id="innerSize3").pd-form-control.pd-control.lg
                    .pd-form-help Help text
                .pd-form-item.inner
                    label(for="innerSize4").pd-form-label Size4
                    .pd-control-wrapper
                        i.pd-control-prefix
                          .pd-icon.pd-icon-pin
                        select(type="text" id="innerSize4").pd-form-control.pd-control.sm
                            option(value="1" select) Option 1
                    .pd-form-help Help text
                .pd-form-item.inner
                    label(for="innerSize5").pd-form-label Size5
                    .pd-control-wrapper
                        i.pd-control-prefix
                          .pd-icon.pd-icon-pin
                        select(type="text" id="innerSize5").pd-form-control.pd-control
                            option(value="1" select) Option 1
                    .pd-form-help Help text
                .pd-form-item.inner
                    label(for="innerSize6").pd-form-label Size6
                    .pd-control-wrapper
                        i.pd-control-prefix
                          .pd-icon.pd-icon-pin
                        select(type="text" id="innerSize6").pd-form-control.pd-control.lg
                            option(value="1" select) Option 1
                    .pd-form-help Help text
        +codeBox(
            'Inner',
            'Label inner.',
            '<form action="" method="post" class="pd-form">\n    <div class="pd-form-item inner required">\n        <label for="innerSizeLabel1" class="pd-form-label">Label description</label>\n        <div class="pd-control-group">\n            <div class="pd-control-wrapper pd-control-group-input">\n                <i class="pd-control-prefix pd-icon.pd-icon-pin"></i>\n                <input type="text" id="innerSizeLabel1" class="pd-form-control pd-control sm">\n            </div>\n            <div class="pd-control-group-append">\n                <button type="button" class="pd-btn icon iconCenter primary">\n                    <i class="icon-search"></i>\n                </button>\n            </div>\n        </div>\n        <div class="pd-form-help">Help text</div>\n    </div>\n    <div class="pd-form-item inner required">\n        <label for="innerSizeLabel2" class="pd-form-label">Label description</label>\n        <div class="pd-control-group">\n            <div class="pd-control-wrapper pd-control-group-input">\n                <i class="pd-control-prefix pd-icon.pd-icon-pin"></i>\n                <input type="text" id="innerSizeLabel2" class="pd-form-control pd-control">\n            </div>\n            <div class="pd-control-group-append">\n                <button type="button" class="pd-btn icon iconCenter primary">\n                    <i class="icon-search"></i>\n                </button>\n            </div>\n        </div>\n        <div class="pd-form-help">Help text</div>\n    </div>\n    <div class="pd-form-item inner required">\n        <label for="innerSizeLabel3" class="pd-form-label">Label description</label>\n        <div class="pd-control-group">\n            <div class="pd-control-wrapper pd-control-group-input">\n                <i class="pd-control-prefix pd-icon.pd-icon-pin"></i>\n                <input type="text" id="innerSizeLabel3" class="pd-form-control pd-control lg">\n            </div>\n            <div class="pd-control-group-append">\n                <button type="button" class="pd-btn icon iconCenter primary">\n                    <i class="icon-search"></i>\n                </button>\n            </div>\n        </div>\n        <div class="pd-form-help">Help text</div>\n    </div>\n</form>'
        )
            form(action="" method="post").pd-form
                .pd-form-item.inner.required
                    label(for="innerSizeLabel1").pd-form-label Label description
                    .pd-control-group
                        .pd-control-wrapper.pd-control-group-input
                            i.pd-control-prefix
                              .pd-icon.pd-icon-pin
                            input(type="text" id="innerSizeLabel1").pd-form-control.pd-control.sm
                        .pd-control-group-append
                            .pd-btn.icon.primary
                                i.pd-icon.pd-icon-eye-slash
                    .pd-form-help Help text
                .pd-form-item.inner.required
                    label(for="innerSizeLabel2").pd-form-label Label description
                    .pd-control-group
                        .pd-control-wrapper.pd-control-group-input
                            i.pd-control-prefix
                              .pd-icon.pd-icon-pin
                            input(type="text" id="innerSizeLabel2").pd-form-control.pd-control
                        .pd-control-group-append
                            .pd-btn.icon.primary
                                i.pd-icon.pd-icon-eye-slash
                    .pd-form-help Help text
                .pd-form-item.inner.required
                    label(for="innerSizeLabel3").pd-form-label Label description
                    .pd-control-group
                        .pd-control-wrapper.pd-control-group-input
                            i.pd-control-prefix
                              .pd-icon.pd-icon-pin
                            input(type="text" id="innerSizeLabel3").pd-form-control.pd-control.lg
                        .pd-control-group-append
                            .pd-btn.icon.primary
                                i.pd-icon.pd-icon-eye-slash
                    .pd-form-help Help text
        +codeBox(
            'Outlined',
            'Label outlined.',
            '<form action="" method="post" class="pd-form">\n    <div class="pd-form-item outlined">\n        <input type="text" id="outlinedSize1" placeholder=" " class="pd-form-control sm">\n        <label for="outlinedSize1" class="pd-form-label sm">Size1</label>\n        <div class="pd-form-help">Help text</div>\n    </div>\n    <div class="pd-form-item outlined required">\n        <input type="text" id="outlinedSize2" placeholder=" " class="pd-form-control">\n        <label for="outlinedSize2" class="pd-form-label">Size2</label>\n        <div class="pd-form-help">Help text</div>\n    </div>\n    <div class="pd-form-item outlined">\n        <input type="text" id="outlinedSize3" placeholder=" " class="pd-form-control lg">\n        <label for="outlinedSize3" class="pd-form-label lg">Size3</label>\n        <div class="pd-form-help">Help text</div>\n    </div>\n</form>'
        )
            form(action="" method="post").pd-form
                .pd-form-item.outlined
                    input(type="text" id="outlinedSize1" placeholder=" ").pd-form-control.sm
                    label(for="outlinedSize1").pd-form-label.sm Size1
                    .pd-form-help Help text
                .pd-form-item.outlined.required
                    input(type="text" id="outlinedSize2" placeholder=" ").pd-form-control
                    label(for="outlinedSize2").pd-form-label Size2
                    .pd-form-help Help text
                .pd-form-item.outlined
                    input(type="text" id="outlinedSize3" placeholder=" ").pd-form-control.lg
                    label(for="outlinedSize3").pd-form-label.lg Size3
                    .pd-form-help Help text
    h2 API
    .pd-table-wrapper
        table.pd-table.DocApiTable
            thead
                tr
                    th Property
                    th Class
            tbody
                tr
                    td form
                    td
                        code .pd-form
                tr
                    td Orientation
                    td
                        code .horizontal
                tr
                    td Item
                    td
                        code .pd-form-item
                        code .has-success
                        code .has-danger
                        code .required
                tr
                    td control
                    td
                        code .pd-form-control
                tr
                    td Help
                    td
                        code .pd-form-help
                tr
                    td Size
                    td
                        code .sm
                        code .lg
