extends ../../config/template
append config
    -title = "Input"
    -description = "Icon."
    -ogUrl = "/index.html"
    -template = 2
block main
    .pd-grid.col-gap.row-gap.l-grid-2
        +codeBox(
            'Basic',
            'Basic input',
            '<input class="pd-form-control" type="text">'
        )
            input(type="text").pd-form-control
        +codeBox(
            'Size',
            'Size input',
            '<input type="text" class="pd-form-control sm">\n<input type="text" class="pd-form-control">\n<input type="text" class="pd-form-control lg">'
        )
            input(type="text").pd-form-control.sm
            input(type="text").pd-form-control
            input(type="text").pd-form-control.lg
        +codeBox(
            'Icon',
            'Inpuit with icons',
            '<div class="pd-control-wrapper">\n    <div class="pd-control-prefix">\n        <i class="icon-ticket"></i>\n    </div>\n    <input type="text" class="pd-form-control pd-control">\n</div>\n<div class="pd-control-wrapper">\n    <input type="search" placeholder="Search..." class="pd-form-control pd-control">\n    <div class="pd-control-suffix">\n        <i class="icon-search"></i>\n    </div>\n</div>\n<div class="pd-control-wrapper">\n    <div class="pd-control-prefix">\n        <i class="icon-key"></i>\n    </div>\n    <input type="password" name="password" class="pd-form-control pd-control">\n    <div class="pd-control-suffix togglePassword">\n        <svg viewBox="64 64 896 896" focusable="false" class="" data-icon="eye-invisible" width="1em" height="1em" fill="currentColor" aria-hidden="true">\n            <path d="M942.2 486.2Q889.47 375.11 816.7 305l-50.88 50.88C807.31 395.53 843.45 447.4 874.7 512 791.5 684.2 673.4 766 512 766q-72.67 0-133.87-22.38L323 798.75Q408 838 512 838q288.3 0 430.2-300.3a60.29 60.29 0 0 0 0-51.5zm-63.57-320.64L836 122.88a8 8 0 0 0-11.32 0L715.31 232.2Q624.86 186 512 186q-288.3 0-430.2 300.3a60.3 60.3 0 0 0 0 51.5q56.69 119.4 136.5 191.41L112.48 835a8 8 0 0 0 0 11.31L155.17 889a8 8 0 0 0 11.31 0l712.15-712.12a8 8 0 0 0 0-11.32zM149.3 512C232.6 339.8 350.7 258 512 258c54.54 0 104.13 9.36 149.12 28.39l-70.3 70.3a176 176 0 0 0-238.13 238.13l-83.42 83.42C223.1 637.49 183.3 582.28 149.3 512zm246.7 0a112.11 112.11 0 0 1 146.2-106.69L401.31 546.2A112 112 0 0 1 396 512z"></path>\n            <path d="M508 624c-3.46 0-6.87-.16-10.25-.47l-52.82 52.82a176.09 176.09 0 0 0 227.42-227.42l-52.82 52.82c.31 3.38.47 6.79.47 10.25a111.94 111.94 0 0 1-112 112z"></path>\n        </svg>\n    </div>\n</div>\n<div class="pd-control-wrapper">\n    <div class="pd-control-prefix">\n        <i class="icon-houzz"></i>\n    </div>\n    <select class="pd-form-control pd-control">\n        <option value="1">Male</option>\n        <option value="0">Female</option>\n    </select>\n</div>'
        )
            .pd-control-wrapper
                .pd-control-prefix
                    span.pd-icon.pd-icon-pin
                input(type="text").pd-form-control.pd-control
            .pd-control-wrapper
                input(type="search" placeholder="Search...").pd-form-control.pd-control
                .pd-control-suffix
                    span.pd-icon.pd-icon-pin
            .pd-control-wrapper
                .pd-control-prefix
                    span.pd-icon.pd-icon-pin
                input(type="password" name="password").pd-form-control.pd-control
                .pd-control-suffix.togglePassword
                    <svg viewBox="64 64 896 896" focusable="false" class="" data-icon="eye-invisible" width="1em" height="1em" fill="currentColor" aria-hidden="true"><path d="M942.2 486.2Q889.47 375.11 816.7 305l-50.88 50.88C807.31 395.53 843.45 447.4 874.7 512 791.5 684.2 673.4 766 512 766q-72.67 0-133.87-22.38L323 798.75Q408 838 512 838q288.3 0 430.2-300.3a60.29 60.29 0 0 0 0-51.5zm-63.57-320.64L836 122.88a8 8 0 0 0-11.32 0L715.31 232.2Q624.86 186 512 186q-288.3 0-430.2 300.3a60.3 60.3 0 0 0 0 51.5q56.69 119.4 136.5 191.41L112.48 835a8 8 0 0 0 0 11.31L155.17 889a8 8 0 0 0 11.31 0l712.15-712.12a8 8 0 0 0 0-11.32zM149.3 512C232.6 339.8 350.7 258 512 258c54.54 0 104.13 9.36 149.12 28.39l-70.3 70.3a176 176 0 0 0-238.13 238.13l-83.42 83.42C223.1 637.49 183.3 582.28 149.3 512zm246.7 0a112.11 112.11 0 0 1 146.2-106.69L401.31 546.2A112 112 0 0 1 396 512z"></path><path d="M508 624c-3.46 0-6.87-.16-10.25-.47l-52.82 52.82a176.09 176.09 0 0 0 227.42-227.42l-52.82 52.82c.31 3.38.47 6.79.47 10.25a111.94 111.94 0 0 1-112 112z"></path></svg>
            .pd-control-wrapper
                .pd-control-prefix
                    span.pd-icon.pd-icon-pin
                select.pd-form-control.pd-control
                    option(value="1") Male
                    option(value="0") Female
        +codeBox(
            'Group',
            'Input group examples',
            '<div class="pd-control-group">\n    <div class="pd-control-group-input">\n        <select class="pd-form-control">\n            <option value="1">Producto</option>\n            <option value="2">Category</option>\n        </select>\n    </div>\n    <div class="pd-control-wrapper pd-control-group-input">\n        <input type="search" placeholder="Search..." class="pd-form-control pd-control">\n        <div class="pd-control-suffix">\n            <i class="icon-search"></i>\n        </div>\n    </div>\n</div>\n<div class="pd-control-group">\n    <div class="pd-control-group-prepend">\n        <button type="button" class="pd-btn primary icon">\n            <i class="icon-clone"></i>\n        </button>\n    </div>\n    <div class="pd-control-group-input">\n        <input type="search" placeholder="Copy" class="pd-form-control">\n    </div>\n</div>\n<div class="pd-control-group">\n    <div class="pd-control-group-input">\n        <input type="search" placeholder="Search..." class="pd-form-control">\n    </div>\n    <div class="pd-control-group-append">\n        <button type="button" class="pd-btn primary icon">\n            <i class="icon-search"></i>\n        </button>\n    </div>\n</div>\n<div class="pd-control-group">\n    <div class="pd-control-group-prepend">\n        <button type="button" class="pd-btn primary icon">\n            <i class="icon-clone"></i>\n        </button>\n    </div>\n    <div class="pd-control-wrapper pd-control-group-input">\n        <div class="pd-control-prefix">\n            <i class="icon-server"></i>\n        </div>\n        <input type="search" placeholder="Server Search..." class="pd-form-control pd-control">\n    </div>\n    <div class="pd-control-group-append">\n        <button type="button" class="pd-btn primary icon">\n            <i class="icon-search"></i>\n        </button>\n    </div>\n</div>'
        )
            .pd-control-group
                .pd-control-group-input
                    select.pd-form-control
                        option(value="1") Producto
                        option(value="2") Category
                .pd-control-wrapper.pd-control-group-input
                    input(type="search" placeholder="Search...").pd-form-control.pd-control
                    .pd-control-suffix
                        span.pd-icon.pd-icon-pin
            .pd-control-group
                .pd-control-group-prepend
                    .pd-btn.primary.square
                        span.pd-icon.pd-icon-pin
                .pd-control-group-input
                    input(type="search" placeholder="Copy").pd-form-control
            .pd-control-group
                .pd-control-group-input
                    input(type="search" placeholder="Search...").pd-form-control
                .pd-control-group-append
                    .pd-btn.primary.square
                        span.pd-icon.pd-icon-pin
            .pd-control-group
                .pd-control-group-prepend
                    .pd-btn.primary.square
                        span.pd-icon.pd-icon-pin
                .pd-control-wrapper.pd-control-group-input
                    .pd-control-prefix
                        span.pd-icon.pd-icon-pin
                    input(type="search" placeholder="Server Search...").pd-form-control.pd-control
                .pd-control-group-append
                    .pd-btn.primary.square
                        span.pd-icon.pd-icon-pin
        +codeBox(
            'Disabled and readonly',
            'Disabled and readonly',
            '<input type="text" disabled value="disabled" class="pd-form-control">\n<input type="text" readonly value="readonly" class="pd-form-control">'
        )
            input(type="text" disabled value="disabled").pd-form-control
            input(type="text" readonly value="readonly").pd-form-control
