- let titlePrefix = "Pdui CSS | "
- let libraryName = "Pdui CSS"
- let appVersion = "v2.5.1"
- let title = "Home"
- let description = "Pdui CSS implements a flexible and customizable design system to create responsive designs and components at the speed of light."
- let ogUrl = "index.html"
- let template = 1
